target
bin
.classpath
.settings
.project
.externalToolBuilders
.DS_Store

*.iml
target-eclipse
bin-debug
.clover
.metadata
cobertura.ser
activemq-data
*.orig
*.releaseBackup
.idea
*.*~
.svn
*.log
*.bak
.actionScriptProperties
pom.xml.versionsBackup
build
